.text-page .chat{
    
    margin-top: 50px;
    
    margin-left:50px;
    margin-right:50px;
    background: #fafafa;
    width: 1500px;
    
    
}
.text-page .actions{
    bottom: 0px;
    padding: 10px;
    text-align: center;
    position:absolute;
    left:0;
    right:0;
    bottom:0;
  
    
}

.text-page .actions button{
    padding: 30px;
    border-bottom-left-radius: 5px;
    border: 0;
    background: #1E90FF;;
    color: #fff;
    
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;   
}

.text-page .actions button:hover{
    background: #da552f;
    color: #fff  
}

.text-page .actions input{
    width: 80%;
    padding: 30px;
    border-radius: 10px;
    border: 20px;
    background: #fafafa ;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;   
}


